# v6.1b, Copyright (C) 2025 Stouthart. All rights reserved.
#
# Device model: DX340/DX180

## https://android.googlesource.com/platform/system/core/+/master/init/README.md

on init
  write /sys/kernel/debug/debug_enabled 0

  ## https://github.com/redhat-performance/tuned/tree/master/profiles
  ### tdtimer
  write /proc/sys/net/core/somaxconn 2048
  write /proc/sys/net/ipv4/tcp_fastopen 3
  write /proc/sys/vm/dirty_background_ratio 3
  write /proc/sys/vm/dirty_ratio 10
  write /proc/sys/vm/stat_interval 10

on late-init
  # Disable scheduler statistics (atrace.rc)
  write /proc/sys/kernel/sched_schedstats 0 # Firmware < v1.04.440

on late-fs
  ## https://source.android.com/docs/core/perf/boot-times#tuning-the-filesystem
  write /sys/block/sda/queue/iostats 0
  write /sys/block/sda/queue/nr_requests 256
  write /sys/block/sda/queue/read_ahead_kb 1024

  # SD card tuning
  write /sys/block/mmcblk0/queue/iostats 0

on property:sys.boot_completed=1
  # Set scaling_min_freq for "big" CPU cluster
  ### minfreq

  ## https://xdaforums.com/t/3528807/post-70475813
  write /dev/stune/schedtune.boost 10
  write /dev/stune/foreground/schedtune.boost 15
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 25
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # Disable zRam (Compressed RAM disk)
  ### nozram

  # Runtime TuneD
  ### tdswap

  # Reduce logging of kernel messages (dmesg)
  write /proc/sys/kernel/printk "4 4 1 7"

  # Debugging & testing
  ### rclocal

on property:init.svc.vendor.cnss_diag=running
  # Stop diagnosis tool for the Qualcomm ConNectivity SubSystem
  stop vendor.cnss_diag

on property:init.svc.vendor.msm_irqbalance=running
  # Increase priority of IRQ balancer
  exec -- /system/bin/renice -n -10 -p ${init.svc_debug_pid.vendor.msm_irqbalance}
